<ul id="item_navigation">
<li class="nav"><%= link_to @container.name, @container, :class => 'button navbutton' %></li>	
<li id="title"><h1>edit <%= @container.name %></h1></li>
</ul>

<%= render 'form' %>
