<h4>About</h4>

<p>Invebox enables you to create a multiple of one, two or three level inventories.</p>
<p>Each level can have and display its own items as well as providing value summaries for all child levels.</p>
<p>We'll soon be adding support for pdf export and image/document attachment.</p>

<p>If you need to speak to us then please contact us via email: support at invebox.com</p>


