
<h4>flexible</h4>
<p>put everything in one container or create levels and compartments.</p>
<h4>versatile</h4>
<p>use it to catalogue a variety of collections&mdash;home and property contents, stock lists or even project components.</p>
<h4>secure</h4>
<p>Rest easy with your info&mdash;our entire site is secured with SSL Encryption.</p>
<h4>free</h4>
<p>invebox is free to use and you are free to create as many inventories as you need.</p>


<%= link_to "sign up", new_user_registration_path, :class => 'button new sign_up' %>







<!-- div class="row">
    <div class="twelve columns">
      <div id="featuredContent">
	  <div style="background:#000">
	    <h4>flexible</h4>
	    <p>box things up as you see fit&mdash;all into one or create levels and compartments</p>
	    <p>make your own categories</p>
		<h4>versatile</h4>
		<p>useful for home and property contents, stock, components&mdash;in fact, any collection of resources</p>
	  </div>
	  <div style="background:#000">
	    <h4>We can include text and buttons, like this!</h4>
	    <p>We take no responsibility for what happens if you click this button.</p>
	    <p><a href="http://www.youtube.com/watch?v=dQw4w9WgXcQ" class="button" target="_blank">Rock My World!</a></p>
	  </div>
	  <div style="background:#000">
	    <h4>What? You didn't click it?</h4>
	    <p>We'll give you the benefit of the doubt. Maybe you did, and now you're back!</p>
	  </div>
	</div>
    </div>
  </div-->
